/* Importing required fonts */
@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Noto+Sans+Math&family=Poppins:wght@100;300;400;700&display=swap');

/* Universal Style Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-size: 62.5%;
}
