accentColor = #0984e3

// Media queries for responsiveness
mobile()
  @media (max-width: 479px)
    {block}

tablet()
  @media (max-width: 800px)
    {block}

desktop()
  @media (max-width: 1200px)
    {block}

atMobile()
  @media (min-width: 479px)
    {block}

atTablet()
  @media (min-width: 800px)
    {block}

atDesktop()
  @media (min-width: 1200px)
    {block}